<div class= "container"> 
    <h1 class="text-center mt-4"> Please contact me by phone or email </h1>
    <h2 class="text-center"> email: kim.mason3347@gmail.com </h2> 
    <h3 class="text-center"> Cell phone: 801-803-3347 </h3> 
</div>
