<div id="page-content"> 
  <div class="container" id="home-container">
      <div class="jumbotron text-center text-white">
          <h1 class="display-4">Welcome to Corner Brick House, your home for reading, writing and learning</h1>
          <hr class="my-4">
          <p>My difficulty has become my strength, please contact me to learn how I can help your child find their passion for reading, writing and learning</p>
          
          <%= link_to "Contact",contact_path, class:"btn btn-outline-light" %>
      </div>
  </div>
</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
<div class="container text-center">
  <small>Copyright &copy; <%= link_to "Corner Brick House", "https://cornerbrickhouse.com", class: "text-white" %></small>
</div>
</footer>

class="btn btn-secondary btn-lg" href="#" role="button">Contact